.img_center {
    display:block;
    margin-left: auto;
    margin-right: auto;
} 

.footer-carousel {
  width: 100%;
  overflow: hidden;
  /* background: #111; */
  padding: 10px 0;
  position: relative;
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 150px; /* ajusta según el tamaño de tus imágenes */
}

.carousel-track {
  position: absolute;
  white-space: nowrap;
  animation: scroll 80s linear infinite;
}

.footer-carousel:hover .carousel-track {
  animation-play-state: paused;
}

.carousel-track img {
  display: inline-block;
  height: 150px;
  background-color: white;
  margin: 0 20px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}